
    <div class="col-sm-12 col-md-7">
        <div class="mesaj-yaz">
            <div class="mesaj-yaz-baslik">
                Bir mesaj yazın
            </div>
            <hr class="float-left mb-0">
            <div style="clear:both;"></div>
            <div class="email-uyarisi">
                * Email adresiniz hiçkimseyle paylaşılmayacaktır. Gerekli alanlar işaretlenmiş.
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="name-alani">
                        <label for="name">Adınız *</label>
                        <input type="text" name="name" class="input-name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="emil-alani">
                        <label for="email">Email *</label>
                        <input type="text" name="email" class="input-email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="konu-alani">
                        <label for="website">Konu</label>
                        <input type="text" name="website" class="input-website">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <label for="mesajiniz">Mesajınız</label>
                    <textarea name="mesajiniz" class="mesajiniz"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-2">
                    <button type="submit" class="btn mesaj-gonder-buton">Mesajı Ulaştır</button>
                </div>
            </div>
        </div>
    </div>